<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="5">
    <Properties>
        <Property name="LOG_PATTERN">%d{dd-MM-yyyy HH:mm:ss.SSS} %level: %msg%n</Property>
        <Property name="APP_LOG_ROOT">./logs</Property>
    </Properties>
    <Appenders>

        <Console name="consoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </Console>

        <RollingFile name="calendarRollingFileAppender"
                     fileName="./logs/SpringBoot2App/calendar-controller.log"
                     filePattern="./logs/SpringBoot2App/calendar-controller-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB" />
            </Policies>
            <DefaultRolloverStrategy max="1" />
        </RollingFile>

        <File name="applicationFileAppender" fileName="./logs/SpringBoot2App/application.log" append="false">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
        </File>


    </Appenders>
    <Loggers>

        <Logger name="calendar-logger" level="INFO" additivity="false">
            <AppenderRef ref="calendarRollingFileAppender" />
        </Logger>

        <Root level="info">
            <AppenderRef ref="consoleAppender" />
            <AppenderRef ref="applicationFileAppender" />
        </Root>
    </Loggers>
</Configuration>